<div class="jumbotron">
  <h1>Pages</h1>
  <p class="lead">Just some plain old CRUD operations</p>
  <a class="btn btn-lg btn-success hidden-print " href="<%= new_page_path %>" role="button">Add new Page</a>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Created at</th>
      <th class="hidden-print"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td class="text-muted"><%= page.content %></td>
        <td><%= page.created_at %></td>
        <td class="hidden-print text-right">
          <%= link_to 'Show', page, class: 'btn btn-xs btn-default' %>
          <%= link_to 'Edit', edit_page_path(page), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

