<div class="jumbotron">
  <div class="row">
    <div class="col-xs-10">
      <h1>Pages </h1>
      <p class="lead">Just some plain old CRUD operations</p>
      <a class="btn btn-lg btn-success hidden-print " href="<%= new_page_path %>" role="button">Add new Page</a>
    </div>

    <div class="col-xs-2 text-right">
      <%= icon('file-text-o', class: 'fa-5x') %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Created at</th>
      <th class="hidden-print"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr data-href="<%= url_for(page) %>">
        <td class="row-link"><%= page.title %></td>
        <td class="row-link text-muted"><%= page.content %></td>
        <td class="row-link"><%= page.created_at %></td>
        <td class="hidden-print text-right">
          <div class="btn-group" role="group">
            <%= link_to icon('pencil'), [ :edit, page ], class: 'btn btn-xs btn-default', role: 'button', title: 'Edit' %>
            <%= link_to icon('trash'), page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', role: 'button', title: 'Destroy' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

