<% cache do %>

<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Version</dt>
      <dd><%= Rails.application.full_version %></dd>

      <dt>Environment</dt>
      <dd><%= Rails.env %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Ruby</dt>
      <dd><%= "#{RUBY_VERSION} patchlevel #{RUBY_PATCHLEVEL}" %></dd>

      <dt>RubyGems</dt>
      <dd><%= Gem::VERSION %></dd>

      <dt>Bundler</dt>
      <dd><%= Bundler::VERSION %></dd>

      <dt>Rails</dt>
      <dd><%= Rails::VERSION::STRING %></dd>
    </dl>
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>MySQL</dt>
      <dd><%= ActiveRecord::Base.connection.select_rows('SHOW VARIABLES WHERE Variable_name = "version"')[0][1] %></dd>

      <dt>Redis</dt>
      <dd><%= Sidekiq.redis_info['redis_version'] rescue '[not connected]' %></dd>

      <dt>memcached</dt>
      <dd><%= Rails.cache.stats.first.second['version'] rescue '[not connected]' %></dd>

      <dt>Elasticsearch</dt>
      <dd><%= Searchkick.server_version %></dd>
    </dl>
  </div>
</div>

<% end %>
