<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DockerRails</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">DockerRails</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <p class="navbar-text hidden-xs">Just a demo</p>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Sidekiq', sidekiq_web_path, data: { turbolinks: 'false' } %>
            </li>
            <li>
              <%= link_to(url_for(params.to_unsafe_h.merge format: :pdf), title: 'Export to PDF') do %>
                <i class="fa fa-print"></i>
              <% end %>
            </li>
            <li>
            <%= form_tag(pages_path, method: "get", class: 'navbar-form navbar-left') do %>
              <div class="form-group">
                <%= text_field_tag :q, params[:q], placeholder: "Search", class: 'form-control' %>
              </div>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
      <%= content_tag :p, notice, class: 'alert alert-info' %>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <%= render 'layouts/system_info' %>
      </div>
    </footer>
  </body>
</html>
