<!DOCTYPE html>
<html>
  <head>
    <title>DockerRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="no-print">
    <%= link_to 'PDF', url_for(params.to_unsafe_h.merge format: :pdf) %>
    </div>

    <%= yield %>

    <%= render 'layouts/system_info' %>
  </body>
</html>
